
RewriteEngine On

# Forece HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v([0-9.]+)/hook/([^\/]*)$ hook.php?v=$1&event=$2 [L,QSA]
RewriteRule ^v([0-9.]+)/(.*)$ index.php?v=$1&api=$2 [L,QSA]
RewriteRule ^v([0-9.]+)/install/([^\/]*)$ install.php?v=$1&meta=$2 [L,QSA]
RewriteRule ^v([0-9.]+)/get/([^\/]*)$ get.php?v=$1&res=$2 [L,QSA]



